label {
  font-size: 0.8em;
  text-align: center;
  text-justify: center;
  border: solid 1px #707070;
  margin: 10px;
  padding: 5px;
  border-radius: 50%;
}

input[id="first"]:checked + label {
  background-color: lightgray;
}
input[id="second"]:checked + label {
  background-color: lightgray;
}
input[id="third"]:checked + label {
  background-color: lightgray;
}