
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow-x: hidden;

}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.video-container video{
  width: 100%;
}

.header-wrapper {
  display: flex;
  width: 100%;
  height: 12vh;
  background-color: #6B934F;
  position: fixed;
  color: white;
  top: 0;
  z-index: 1;
}
.social-1 {
  gap: 20px;
}
.header-logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-logo p {
  padding-left: 2vw;
}
.logo {
    height: 8vh;
}
.header-navbar {
  flex: 1;
}
.header-login {
  flex: 1;
}
.header-login p {
  text-align: center;
}
.header-navbar {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-navbar-mobile {
  display: none;
  flex: 0;
}

.header-navbar-mobile a {
  text-decoration: none;
  color: white;
  position: relative;
}
.header-navbar a {
  text-decoration: none;
  color: white;
  position: relative;
}
.header-navbar a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
  transform-origin: bottom center;
}
.header-navbar a:hover::after {
  transform: scaleX(1);
}

.header-login {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-login p {
  cursor: pointer;
  padding-right: 3vw;
}

.hero-container {
  display: flex;
      height: 100vh;
      width: 80%;
      padding-top: 25vh;
      /* align-items: center; */
      /* justify-content: center; */
      color: wheat;
      font-size: 2.7em;
      padding: 60px;
      text-shadow: 5px 5px 10px #3e3e3e;
}
.products {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #FEF9F6;
  width: 100vw;
}
.product-svg-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;

}
.product-svg-1 div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin-top: 10px;


}
.product {
    background-color: #FFFFFF;
    flex: 1;
    margin: 80px;
 
    box-shadow: 5px 6px 6px #0000000F;
    transform: scale(1);
    transition: transform 0.25s ease-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.product img {
 width: 90%;
 object-fit: contain;
}

.product:hover {
    transform: scale(1.05);
    transition: transform 0.25s ease-in;
}
.product-div-1 {
  width: 80%;
  /* padding: auto; */
  display: flex;
  justify-content: center;
}
.product-text-1 {
  display: flex;
  flex-direction:row ;
  justify-content: space-around;
 
  width: 90%;
}
#heart {
  display: none;

}
#heart + label svg {
  fill: #CFCFCF;
  transition: fill 0.2s ease-in-out;
}
#heart:checked + label svg{
  fill: red;
}
#heart2 {
  display: none;

}
#heart2 + label svg {
  fill: #CFCFCF;
  transition: fill 0.2s ease-in-out;
}
#heart2:checked + label svg{
  fill: red;
}
#heart3 {
  display: none;

}
#heart3 + label svg {
  fill: #CFCFCF;
  transition: fill 0.2s ease-in-out;
}
#heart3:checked + label svg{
  fill: red;
}

footer {
  background-color: #FFFFFF;
  height: 240px;
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 10%;
}
.footer-socials {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-location {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.footer-location-logo {
  display: flex;
  flex-direction: column;
}
.footer-location-logo p {
  margin: 5px;
  padding: 0;
}
.footer-location-logo img {
  padding-right: 30px;
}
.divider {
 width: 1px;
 background-color: black;
 height: 90%;
 margin-top: 15px;
}
.footer-socials div{
  display: flex;
}

@media (max-width: 768px) {
  .video-container {
    top: 10vh;
    height: 30vh;
  }
  .empty-container {
    height: 30vh;
  }
  .products {
    flex-wrap: wrap;
  }
  .header-navbar {
    display: none;
  }
  .header-navbar-mobile {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer-socials {
    margin-top: 3vh;
  }
  footer {
    background-color: #FFFFFF;
    height: 480px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
  }
  .divider {
    transform: rotate(90deg); 
  }

 }
